<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hongsam.hongflix.subscribe.repository.SubscribeMapper">

    <insert id="save">
        insert into subscribe (id, available, period)
        values (#{id}, #{available}, #{period})
    </insert>


    <update id="update">
        update subscribe
        set available = #{updateDto.available},
            period  = #{updateDto.period}
        where id = #{id}
    </update>


    <select id="findById" resultType="SubscribeDto">
        select *
        from subscribe
        where id = #{id}
    </select>
</mapper>