a {
  text-decoration: none;
  color: white;
}

input:focus {
  outline: none;
  border-color: aliceblue;
}
.loginBackGround {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}
.loginFormHeader {
  text-align: center;
  font-weight: 900;
}
.loginContainer {
  color: white;
  background-color: rgb(18, 18, 18);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 488px;
  height: 600px;
  border: 2px solid rgb(50, 50, 50);
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.loginFormInput {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  font-size: 16px;
}
.loginFormItem,
.loginFormBtn,
.loginFormText,
.loginFormLabel,
.loginFormInput {
  display: flex;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: rgb(18, 18, 18);
}
.loginFormItem {
  border-bottom: 2px solid rgb(50, 50, 50);
  margin: 5px 0;
}
.loginFormItemFocus {
  border-bottom: 2px solid rgb(129, 107, 255);
}
.loginFormBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 20px;
}

.loginFormBtnCompletion {
  background-color: rgb(129, 107, 255);
}
.loginFormBtnCompletion:hover {
  background-color: rgb(110, 88, 255);
  cursor: pointer;
}
.loginFormLabel {
  font-size: 14px;
}
.loginFormInputWarring {
  color: rgb(220, 90, 90);
  font-size: 14px;
}
.loginFormText {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
