<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongsam.hongflix.admin.repository.admin.content.ContentMapper">

    <!-- Content 관련 SQL -->
    <insert id="save" parameterType="Content" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO content (movieId, title, explanation, accessUrl, accessStreamingUrl)
        VALUES (#{movieId}, #{title}, #{explanation}, #{accessUrl}, #{accessStreamingUrl})
    </insert>

    <select id="findAllByMovieId" resultType="ContentCreateResDto">
        SELECT c.id, c.movieId, c.title, c.explanation, c.accessUrl, c.accessStreamingUrl, m.title AS movieName
        FROM content c
                 INNER JOIN movie m ON c.movieId = m.id
        WHERE m.id = #{movieId}
    </select>


    <select id="findByTitle" resultType="Content">
        SELECT * FROM content
        WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>



    <delete id="delete">
        delete from content
        where id = #{id}
    </delete>

    <select id="findById" resultType="Content">
        select id,
               movieId,
               title,
               explanation,
               accessUrl,
               accessStreamingUrl
        from content
        where id = #{id}
    </select>

    <update id="update">
        update content
        set title=#{updateParam.title},
            explanation=#{updateParam.explanation},
            accessUrl=#{updateParam.accessUrl},
            accessStreamingUrl=#{updateParam.accessStreamingUrl}
        where id = #{id}
    </update>


</mapper>
