<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongsam.hongflix.admin.repository.admin.MovieMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into Movie (accessKey, title, subTitle, content, genre)
        values (
                    #{accessKey},
                    #{title},
                    #{subTitle},
                    #{content},
                    #{genre}
                )
    </insert>

    <update id="update">
        update Movie
        set title=#{updateParam.title},
            subTitle=#{updateParam.subTitle},
            content=#{updateParam.content},
            genre=#{updateParam.genre}
        where id = #{id}
    </update>

    <select id="findById" resultType="Movie">
        select id, title, subTitle, content, genre
        from Movie
        where id = #{id}
    </select>

    <select id="findAll" resultType="Movie">
        select id, title, subTitle, content, genre
        from Movie
    </select>





</mapper>