<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongsam.hongflix.admin.repository.admin.movie.MovieMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into movie (accessKey, title, subTitle, explanation, genre)
        values (
                    #{accessKey},
                    #{title},
                    #{subTitle},
                    #{explanation},
                    #{genre}
                )
    </insert>

    <update id="update">
        update movie
        set title=#{updateParam.title},
            subTitle=#{updateParam.subTitle},
            explanation=#{updateParam.explanation},
            genre=#{updateParam.genre},
            accessKey=#{updateParam.accessKey}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from movie
        where id = #{id}
    </delete>


    <select id="findByTitle" resultType="Movie">
        SELECT * FROM movie
        WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>

    <select id="findById" resultType="Movie">
        select id,
               title,
               subTitle,
               accessKey,
               explanation,
               genre,
               createdDate
        from movie
        where id = #{id}
    </select>



    <select id="findAll" resultType="Movie">
        select
            id,
            title,
            subTitle,
            accessKey,
            explanation,
            genre,
            createdDate
        from movie
        order by createdDate DESC
        LIMIT 8
    </select>



    <select id="findByTwoGenres" resultType="Movie">
        SELECT *
        FROM movie
        WHERE genre = #{genre_first_name} OR genre = #{genre_second_name}
    </select>






</mapper>